<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wsrfood">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar">
        <activity
            android:name="com.example.SignUpScreen"
            android:exported="false" />
        <activity
            android:name="com.example.SignInScreen"
            android:exported="false" />
        <activity
            android:name="com.example.BoardingPackage.OnBoardingScreen"
            android:exported="false" />
        <activity
            android:name="com.example.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.example.LaunchScreen"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>